@{
    ViewBag.Title = "Lambda - Scratchpad for Testing Lambdas and Expression Trees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
Just doing some testing with Lambdas using an MVC Controller.......

@ViewData["display"]<br />
@ViewBag.Peanuts<br />
You ate @ViewBag.HowMuchPie pounds of pie.<br />
ExpressionTreeResult = @ViewBag.ExpressionTreeResult
