@model dalewilbanks.net.entities.WorkItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>WorkItem</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Attachments</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Attachments)
    </div>

    <div class="display-label">EntryDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EntryDate)
    </div>

    <div class="display-label">EnteredBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnteredBy)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.WorkItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
